<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Інформація про виплати</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/main.js"></script>
</head>
<body>

  {% include 'partialViews/header.html' %}

  <div class="container"> 
    <div class="panel panel-default">
      <div class="panel-heading">Привіт {{ userName }} <span class="label label-warning">Працівник</span></div>
      <div class="panel-body">
        <div class="btn-group dropdown pull-right">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropmenu" data-toggle="dropdown">
          <span class="glyphicon glyphicon-cog"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropmenu">
            <li role="presentation"><a class="btn" data-toggle="modal" data-target="#UpdatePassword">Змінити пароль</a></li>
          </ul>
        </div>
        <h4>Інформація про виплати </h4>
        <h5>Поточні керівники 
        {% for item in leaders %}
          <span class="label label-default">{{ item.name }}</span>
        {% endfor %}
        </h5>
      </div>
      {% if salaryData|length > 0 %}
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Виплата</th>
            <th>Керівник</th>
            <th>Дата</th>
          </tr>
        </thead>
        <tbody>
        {% for item in salaryData %}
           <tr>
            <td>{{ item.salary }}</td>
            <td>{{ item.leaderName }}</td>
            <td>{{ item.date }}<td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      {% else %}
      <div class="alert alert-info" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          Записів не існує (не було здійснено жодної виплати)
        </div>
      {% endif %}
    </div>
  </div>

  <!-- modal -->
  <div id="UpdatePassword" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Змінити пароль</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">Старий пароль</span>
              <input type="password" class="form-control" name="oldpass">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">Новий пароль</span>
              <input type="password" class="form-control" name="newpass" >
            </div>
          </div>
          <p id="responseUpdatePasswordInfo"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" id="updatePassword">Змінити пароль</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>