<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Панель керівника</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/main.js"></script>
</head>
<body>

  {% include 'partialViews/header.html' %}

  <div class="container"> 
    <div class="panel panel-default">
      <div class="panel-heading">Привіт {{ leaderName }} <span class="label label-warning">Керівник</span></div>
      <div class="panel-body">
        <div class="btn-group" role="group">
          {% if employee.name %}
          <button type="button" class="btn btn-default">Інформація про виплати для працівника {{ employee.name }}</button>
          {% endif %}
          <div class="btn-group dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropmenu" data-toggle="dropdown">Список підлеглих працівників
            <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropmenu">
            {% for item in employees %}
              <li role="presentation"><a role="menuitem"  href="/leader/{{ item.login }}">{{ item.name }}</a></li>
            {% endfor %}
            </ul>
          </div>
          {% if allEmployees|length > 0%}
          <button class="btn btn-success" data-toggle="modal" data-target="#AddEmployee">Додати працівника
            <span class="glyphicon glyphicon-plus-sign"></span>
          </button>
          {% endif %}
        </div>
        <div class="btn-group dropdown pull-right">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropmenu" data-toggle="dropdown">
          <span class="glyphicon glyphicon-cog"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropmenu">
            <li role="presentation"><a class="btn" data-toggle="modal" data-target="#UpdatePassword">Змінити пароль</a></li>
          </ul>
        </div>
      {% if salaryData|length > 0 %}
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Виплата</th>
            <th>Дата</th>
          </tr>
        </thead>
        <tbody>
          {% for item in  salaryData %}
            <tr>
              <td>{{ item.salary }}</td>
              <td>{{ item.date }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
        {% elseif employee.name %}
        <div class="alert alert-info" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          Записів не існує (не було здійснено жодної виплати)
        </div>
      {% endif %}
      </div>
      {% if employee.name %}
        <div class="panel-footer">
          <button class="btn btn-success" data-toggle="modal" data-target="#AddSalary">Додати виплату</button>
        </div>
      {% endif %}
    </div>
  </div>

  <!-- modals -->
  <div id="AddSalary" class="modal fade" role="dialog">
    <input type="hidden" name="inputEmployeeId" value="{{ employee.id }}"> 
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Додати виплату для працівника {{ employee.name }}</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">{{ employee.name }}</span>
              <input type="text" class="form-control" name="inputEmployeeSalary">
              <span class="input-group-addon">$</span>
            </div>
          </div>
          <p id="responseinfo"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" id="addEmployeeSalary">Додати</button>
        </div>
      </div>
    </div>
  </div>

  <div id="AddEmployee" class="modal fade" role="dialog">
    <input type="hidden" name="inputEmployeeId" value="{{ employee.id }}"> 
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Додати працівника<h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="selectEmployee">Список всіх праціників:</label>
            <select class="form-control" id="selectEmployee" name="selectedEmployee">
              {% for item in allEmployees %}
                <option value="{{ item.id }}">{{ item.name }}</option>
              {%  endfor %}
            </select>
          </div>
          <p id="responseinfo"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" id="addEmployee_Leader">Додати</button>
        </div>
      </div>
    </div>
  </div>

  <div id="UpdatePassword" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Змінити пароль</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">Старий пароль</span>
              <input type="password" class="form-control" name="oldpass">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">Новий пароль</span>
              <input type="password" class="form-control" name="newpass" >
            </div>
          </div>
          <p id="responseUpdatePasswordInfo"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" id="updatePassword">Змінити пароль</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>